@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@0,500;1,700|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #faf8f4;
  font-family: 'Open Sans', sans-serif;
  color: #48444b;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  color: #48444b;
  background: #faf8f4;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me {
  width: 50%;
  max-width: 500px;
}

.story {
  margin: 0 20%;
}

.skillsChart {
  width: 90%;
  max-width: 1500px;
}

.skillsList {
  display: none;
  text-align: left;
  line-height: 2;
}


h1 {
  font-size: 3em;
  letter-spacing: .15em;
  font-weight: 500;
  margin: 2.5em;

}

h2 {
  font-size: 2em;
  letter-spacing: .15em;
  font-weight: 500;
  margin: 2.5em;

}

h4 {
  text-decoration: underline;
}

p {
  font-size: 1.5em;
  margin: 0;
}

.textLink, .textLink:hover {
  font-weight: 700;
  color: #919a75;
}

.bold {
  font-weight: 700; 
}

.projects {
  display: flex;
}

.projectsRow {
  display: flex;
  flex-direction: column;
}

.project {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px 10px;
  font-size: 0.75em;
}
.project a {
  color: #919a75;
  height: 100%;
}
.appPreview {
  margin-top: 20px;
  width: 300px;
}

.social {
  width: 100%;
}
.social a {
  display: flex;
  flex-direction: column;
  color: #48444b;
  padding: 10px;
  margin-left: 10px;
}
.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .story {
    margin: 0 10%;
  }
  .skillsChart {
    display: none;
  }
  .skillsList {
    display: block;
  }
  .projectContainer {
    display: none;
  }

}