@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@0,500;1,700|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #faf8f4;
  font-family: 'Open Sans', sans-serif;
  color: #48444b;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  color: #48444b;
  background: #faf8f4;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me {
  width: 50%;
  max-width: 500px;
}

.skillsChart {
  width: 90%;
  max-width: 1500px;
}

.skillsList {
  display: none;
  text-align: left;
  line-height: 2;
}

h1 {
  font-size: 3em;
  letter-spacing: .15em;
  font-weight: 500;
  margin: 2.5em;

}

h2 {
  font-size: 2em;
  letter-spacing: .15em;
  font-weight: 500;
  margin: 2.5em;

}

p {
  font-size: 1.5em;
  margin: 0;
}

.textLink, .textLink:hover {
  font-weight: 700;
  color: #919a75;
}

.bold {
  font-weight: 700; 
}

.social {
  width: 100%;
}
.social a {
  display: flex;
  flex-direction: column;
  color: #48444b;
  padding: 10px;
  margin-left: 10px;
}
.socialLink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  p {
    font-size: 1em;
  }
  .skillsChart {
    display: none;
  }
  .skillsList {
    display: block;
  }
}